<div class="container-fluied fotter">
      <!-- first -->
<div class="row" style="padding: 50px 0; width: 100%; display: flex; justify-content: center;">
  <div class="col-sm-12 col-md-5 ">
    <div class="row  d-flex justify-content-evenly align-items-center ">
        <div class="col-sm-5 col-md-2" style="color: white;">
            <img width="50px" height="50px
            " src="assets/e-cart/folder.svg"  alt="">
        </div>
        <div class="col-sm-7 col-md-3" style="font-size: 20px; width: 500px;">
            Get all the latest information on Events, Sales and Offers.
        </div>
    </div>
  </div>
  <!-- <div class="col-12 col-sm-12 col-md-6  d-flex justify-content-evenly align-items-center justify-content-centre w-100">
    <div class="row" style="width: 100%;">
        <div class="col-12 col-sm-12 col-md-6 d-flex" style="width: 100%;" >
            <input type="email" style="margin-inline-end: 12px;height: 52px;padding: 10px 20px;width: 463px;" placeholder="Your email address">
            <button style="margin-inline-end: 12px;height: 52px;padding: 10px 20px; font-size: 20px; background-color: rgb(206, 85, 41); border: none;">Subcribe</button>
        </div>
        
    </div>
  </div> -->
</div>
  <!-- first -->

  <hr>
  <!-- second -->

  <div class="row fotter_main">
      <div class="col-sm-6 col-md-3 fotter_main_middle">
        <ul>
            <h2>Address</h2>
            <li>J.J Nagar Kallakuruchi,TamilNadu</li>
            <li>HKKALLAI8778@GMAIL.COM</li>
            <li>+91 8778000240</li>
        </ul>
      </div>
      <div class="col-sm-6 col-md-3 fotter_main_middle">
        <ul>
            <h2>Services</h2>
            <li>Hepl Centre</li>
            <li>Redeem Voucher</li>
            <li>Contact Us</li>
            <li>Report Abuse</li>
            <li>Submit a Dispute</li>
            <li>Policies & rules</li>
        </ul>
      </div>
      <div class="col-sm-6 col-md-3 fotter_main_middle">
        <ul>
            <h2>Account</h2>
            <li>Product Support</li>
            <li>Check outs</li>
            <li>Licence policies</li>
            <li>Locality</li>
            
        </ul>
      </div>
      <div class="col-sm-6 col-md-3 fotter_main_middle">
        <ul>
            <h2>Social</h2>
            <li>Instagam</li>
            <li>Facebook</li>
            <li>Twitter</li>
        </ul>
      </div>
</div>

   <!-- second -->
<hr>
 <!-- third -->

 <!-- third -->
 <div class="row fotter_last">
    <div class="col-12 fotter_last_line">
        2023 all rights reserved . Developed by GHK
    </div>
 </div>

</div>