.changepasword_main {
    .change_inner {


        .haedname {
            color: var(--border-bg);
            font-size: 20px;

            p {
                padding: 12px;

                span {
                    font-weight: 500;
                }
            }

        }

      
    }

}

.change_password{
    margin: 10px;
    border-radius: 5px;
    display: flex;
    .uppdate_inner{
        width: 100%;
        .forms_main{
            background-color: var(--gb-backgroundcolor1);
            margin: 0 0 0 12px;
            padding: 18px;
            border-radius: 5px;
            width: 50%;
            font-weight: 500;

            .inner_main_forms {
                
                .inner_div {
                    .form-label {
                        color: var(--profile-txt);
                        font-size: 14px;
                    }
                }
            }

        }
    }
}
