<div class="container-fluied changepasword_main">
    <div class="row change_inner">
        <div class="col-12 haedname">
            <p> <span>updates</span>(update & changes)</p>
            
        </div>
        
        
    </div>
</div>

<div class="container-fluied change_password">
    <div class="row uppdate_inner">
        <div class="col-10 forms_main">

            <form class="inner_main_forms" (ngSubmit)="chagepassword($event,user.password)">
                <div class="mb-3 inner_div">
                  <label for="exampleInputEmail1" class="form-label">Old Password</label>
                  <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="password" >
                  
                </div>
                <div class="mb-3  inner_div">
                  <label for="exampleInputPassword1" class="form-label">New Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1"[(ngModel)]="changedata" >
                </div>
               
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>

        </div>
    </div>
</div>