<div class="container-fluied theme_config_main">
    <div class="row theme_config_main_inner">
        <div class="col-12 haedname">
            <p> <span>Theme</span>(confiuge)</p>
            
        </div>
        
    </div>
</div>

<div class="container-fluied themeconfigue">
    <div class="row inner_configue">
        <div class="col-12 middile_configue" >Screen config </div>

        <div id="json-display" style="width: 89%;
        margin: 13px;"></div>

        <div class="col-12 two_btn">
            <button (click)="getjson()">Save</button>
        </div>
    </div>
</div>