<div class="container-fluied Categories_main">
    <div class="row inner_categories_main">
        <div class="col-12 haedname">
            <p> <span>Save</span>(save&crops)</p>
            
        </div>
        
    </div>
</div>
<div class="container_fluied cropsaver_main">
    <div class="row cropsaver_inner">
        <div class="col-1 crop_col" *ngFor="let imageUrl of imageUrls">      
            <div class="image_section"  (mouseenter)="onItemHover()" (mouseleave)="onItemLeave()" (click)="setimage(imageUrl)">
                <img [src]="imageUrl" width="100%" height="100%" style="object-fit: cover;" alt="" class="item-image">
                <div class="overlayer" *ngIf="hovered">
                  <!-- Add your icons or content here -->
                 <img src="../../assets/e-cart/edit2.svg" alt="">
                </div>
              </div>
       
        </div>
 
    
      
    </div>
</div>
