<!-- home banner -->
<div class="container_fluied curosal_main">
  <div id="carouselExampleCaptions" class="carousel slide inner_main_carousel" data-bs-ride="carousel">

    <div class="carousel-inner inner_car1">
      <div class="carousel-item active inner_carousel_item">
        <img src="assets/e-cart/cycle1.avif" style="height: 100vh;" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block inner_car_changes">
          <p>Ride into Savings! </p>
          <h2>Explore our latest collection of premium bikes at unbeatable prices</h2>
          <a href="https://youtu.be/z3NaR5T1pjo?feature=shared"> <button>View more</button></a>
        </div>
      </div>
      <div class="carousel-item inner_carousel_item">
        <img src="assets/e-cart/cycle2.jpg" style="height: 100vh;" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block inner_car_changes">
          <p>Pedal Power</p>
          <h2>Discover the thrill of cycling with our high-performance bikes. Shop now for an exhilarating ride</h2>
          <a href="https://youtu.be/z3NaR5T1pjo?feature=shared"> <button>View more</button></a>
        </div>
      </div>
      <div class="carousel-item inner_carousel_item">
        <img src="assets/e-cart/cycle3.jpg" style="height: 100vh;" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block inner_car_changes">
          <p>Gear Up for Adventure</p>
          <h2>Browse our new arrivals and find the perfect bicycle for your next journey.</h2>
          <a href="https://youtu.be/z3NaR5T1pjo?feature=shared"> <button>View more</button></a>


        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<!-- home banner -->

<!-- home middele three banner -->

<div class="container_fluied home_banner_midd">
  <!-- one -->
  <div class="row home_banner_midd_three">
    <div class="col-sm-12 col-md-3 home_baner_123">
      <div class="icon">
        <img src="assets/e-cart/cycle.svg" alt="">
      </div>
      <div class="headtxt">
        Best Bikes In City
      </div>
      <div class="paratxt">
        Aftermarket bicycle parts allow you to customize you machine the way like.
      </div>
      <div class="higlighttxt">
        <a href="https://youtu.be/ibHNejMoiP0?feature=shared"> View details</a>
      </div>
    </div>
    <div class="col-sm-12 col-md-3  home_baner_123">
      <div class="icon">
        <img src="assets/e-cart/gear.svg" alt="">
      </div>
      <div class="headtxt">
        Best Bikes In City
      </div>
      <div class="paratxt">
        Aftermarket bicycle parts allow you to customize you machine the way like.
      </div>
      <div class="higlighttxt">
        <a href="https://youtu.be/ibHNejMoiP0?feature=shared"> View details</a>
      </div>
    </div>
    <div class="col-sm-12 col-md-3  home_baner_123">
      <div class="icon">
        <img src="../../../assets/e-cart/dashboard.svg" alt="">
      </div>
      <div class="headtxt">
        Best Bikes In City
      </div>
      <div class="paratxt">
        Aftermarket bicycle parts allow you to customize you machine the way like.
      </div>
      <div class="higlighttxt">
        <a href="https://youtu.be/ibHNejMoiP0?feature=shared"> View details</a>
      </div>
    </div>
  </div><!-- one -->

  <!-- two-->

  <div class="row home_banner_two">
    <div class="col-sm-10 col-lg-5 home_banner_first_left">
      <h1>Mongoose BMX Bike</h1>
      <p>It Is A Long Established Fact That A Reader Will Be Distracted By The Read Content Of A Page When Looking At
        Its Layout.The Point Using</p>
      <ul>
        <li>Weight : 15.42kg , Wheel Size : 20Inc, Model : 2020</li>
        <li>Mongoose Legion L60 Freestyle BMX Bike</li>
        <li>The Durable L60 Features A Hi-Ten Steel Frame Brake</li>
        <li>Maximum steering performance</li>
      </ul>
      <a href="https://youtu.be/jpACUmh0loY?feature=shared"> <button>View details</button></a>
    </div>
    <div class="col-sm-10 col-lg-5  home_banner_first_right">
      <img src="assets/e-cart/bannermidtwo.jpg" alt="">
    </div>
  </div>
  <!-- two-->

  <!-- three -->
  <div class="row home_banner_two1">

    <div class="col-sm-10 col-lg-5  home_banner_second_left">
      <img src="assets/e-cart/bannermidd2.jpg" alt="">
    </div>
    <div class="col-sm-10 col-lg-5 home_banner_second_right">
      <h1>Mongoose BMX Bike</h1>
      <p>It Is A Long Established Fact That A Reader Will Be Distracted By The Read Content Of A Page When Looking At
        Its Layout.The Point Using</p>
      <ul>
        <li>Weight : 15.42kg , Wheel Size : 20Inc, Model : 2020</li>
        <li>Mongoose Legion L60 Freestyle BMX Bike</li>
        <li>The Durable L60 Features A Hi-Ten Steel Frame Brake</li>
        <li>Maximum steering performance</li>
      </ul>
      <a href="https://youtu.be/jpACUmh0loY?feature=shared"> <button>View details</button></a>
    </div>




  </div>

  <!-- three -->

</div>

<!-- home middele three banner -->

<!-- home middele six images banner -->

<div class="container_fluied home_banner_six_images">
  <img src="assets/e-cart/midimg1.jpg" alt="">
  <img src="assets/e-cart/midimg2.jpg" alt="">
  <img src="assets/e-cart/midimg3.jpg" alt="">
  <img src="assets/e-cart/midimg4.jpg" alt="">
  <img src="assets/e-cart/midimg5.jpg" alt="">
  <img src="assets/e-cart/midimg6.jpg" alt="">
</div>
<!-- home middele six images banner -->

<!-- home middele equpment section banner -->

<div class="container-fluied home_midd_equpment_section">
  <div class="row midd_equpment">
    <h1>Equipment Shop</h1>
  </div>

  <div class="row main_owl_carousel">
    <div class="col-12 inner_owl_carousel">

      <owl-carousel-o [options]="customOptions" class="main_scrool">
        <ng-template carouselSlide class="inner_scrool" *ngFor="let arraydata of categories">
          <div class="card card_changes" [routerLink]="'/product_list/categories/'+arraydata.Param">
            <img [src]="arraydata?.photo" width="300px" height="200px" class="card-img-top" alt="...">
            <div class="card-body">
              <h3>{{arraydata.Tittle}}</h3>

            </div>
          </div>
        </ng-template>





      </owl-carousel-o>

    </div>

  </div>

  <div class="row main_vd_content">
    <div class="col-12 main_inner_vd_content">

      <div id="carouselExampleCaptions" class="carousel slide carousel_changes">

        <div class="carousel-inner inner_cur_changes">
          <div class="carousel-item active curousel_main_changes">
            <img src="assets/e-cart/Videomid.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none  d-md-block carousel_main_action">
              <p>Quality Servises Provided</p>
              <h5>Next Generation BMX Bicycles</h5>
            <img src="assets/e-cart/video.svg" alt="">

            </div>
          </div>

        </div>

      </div>

    </div>
  </div>

  <div class="row main_last_bands">
    <div class="col-12 main_last_showlist_curowsel">

      <div class="all_brands">All Brands</div>
      <owl-carousel-o [options]="customOptions" class="brad_list">
        <ng-template carouselSlide class="brand_img" *ngFor="let brand of jsondata?.brand"><a [routerLink]="'/product_list/brand/'+brand?.param"><img [src]="brand?.photo" width="200px"
              height="125px" alt=""></a></ng-template>
        <ng-template carouselPrev><i class="fa fa-chevron-left"></i></ng-template>


        <ng-template carouselNext><i class="fa fa-chevron-right"></i></ng-template>

      </owl-carousel-o>


    </div>
  </div>

</div>

<!-- home middele equpment section banner -->